[database]
type=postgresql
host=172.17.0.2
username=xxxx
password=xxxx
name=xxxx

[email]
username=xxxx
password=xxxx
smtp_server=smtp.gmail.com
smtp_port=587

[logging]
log_file=/var/log/pitschi/pitschi-xapi.log

[ppms]
syncing_ppms=yes
ppms_url=xxx
api2_key=xxxx
ppms_key=xxxx
qcollection_action=xxxx
q_collection_field=xxxx
booking_query=xxxx
coreid=xxx
timezone=Australia/Brisbane
booking_query_frequency=5

[clowder]
api=xxx